header {
    background-color: #FFDB6E;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 1.8rem;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group label {
    width: 30%;
    font-weight: bold;
    color: #333;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 65%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9rem;
}

.form-group textarea {
    resize: none;
}

button.btn-daftar {
    margin: 10px auto;
    display: block;
    background-color: #A1D8F0;
    color: black;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button.btn-daftar:hover {
    background-color: #81c8e5;
}

/* FOOTER */
footer {
    background-color: #FFDB6E;
    padding: 10px 0;
    text-align: center;
    font-size: 0.9rem;
}
